* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: aliceblue;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

#hero-banner{
  width: 100%;
  height: 75px;
}

#dominickennell{
  width: fit-content;
  height: fit-content;
}

img{
  width: 200px;
  height: 200px;
}

.portfolio-work-example{
  display: inline-block;
}

.contact-list-item{
  margin: 0;
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
}
